## get-seattle-data-excel
### September 10, 2023

This script converts Excel data to tab delimited files

### Read in the service requests

In [1]:
import csv
import pandas as pd

In [40]:
dfset = pd.read_csv('servicereqs_1.txt', sep='\t', header=0, encoding='cp1252')

for sheetno in range(2,13):
    print('Reading sheet number', sheetno)
    df = pd.read_csv('servicereqs_{}.txt'.format(sheetno), sep='\t', header=0, encoding='cp1252')
    dfset = pd.concat([dfset, df])
    
# Clean up the details column by getting rid of newline characters
dfset = dfset.replace('\n', ' ', regex=True)

# Write the sheet to a tab-separated .txt file
print('Writing the service requests to a single text file')
dfset.to_csv('allservicereqs.txt', sep='\t', index=False, encoding='utf-8')

Reading sheet number 2
Reading sheet number 3
Reading sheet number 4
Reading sheet number 5
Reading sheet number 6
Reading sheet number 7
Reading sheet number 8
Reading sheet number 9
Reading sheet number 10
Reading sheet number 11
Reading sheet number 12
Writing the service requests to a single text file

In [41]:
# Read the combined file back in
df = pd.read_csv('allservicereqs.txt', sep='\t', header=0, encoding='utf-8')

df = df.astype({'request_id': str,
                'request_number': str,
                'request_number': str,
                'request_type': str,
                'create_date_str': str,
                'method_rcvd': str,
                'location': str,
                'location_details': str,
                'status': str,
                'status_date_str': str,
                'details': str})

print(df.dtypes)

request_id          object
request_number      object
request_type        object
create_date_str     object
method_rcvd         object
location            object
location_details    object
status              object
status_date_str     object
details             object
dtype: object

In [37]:
df.shape

(777499, 10)

### Read in the detail files

In [7]:
# Note:  These texts were created by an Excel VBA, which uses UTF-16 for unicode
dfset = pd.read_csv('Custom attributes_13.txt', sep='\t', header=0, encoding='utf-16')

for sheetno in range(14,99):
    print('Reading sheet number', sheetno)
    df = pd.read_csv('Custom attributes_{}.txt'.format(sheetno), sep='\t', header=0, encoding='utf-16')
    dfset = pd.concat([dfset, df])
    
# Clean up the details column by getting rid of newline characters
dfset = dfset.replace('\n', ' ', regex=True)

# Write the sheet to a tab-separated .txt file
print('Writing the service requests to a single text file')
dfset.to_csv('allservicedetails.txt', sep='\t', index=False, encoding='utf-8')

Reading sheet number 14
Reading sheet number 15
Reading sheet number 16
Reading sheet number 17
Reading sheet number 18
Reading sheet number 19
Reading sheet number 20
Reading sheet number 21
Reading sheet number 22
Reading sheet number 23
Reading sheet number 24
Reading sheet number 25
Reading sheet number 26
Reading sheet number 27
Reading sheet number 28
Reading sheet number 29
Reading sheet number 30
Reading sheet number 31
Reading sheet number 32
Reading sheet number 33
Reading sheet number 34
Reading sheet number 35
Reading sheet number 36
Reading sheet number 37
Reading sheet number 38
Reading sheet number 39
Reading sheet number 40
Reading sheet number 41
Reading sheet number 42
Reading sheet number 43
Reading sheet number 44
Reading sheet number 45
Reading sheet number 46
Reading sheet number 47
Reading sheet number 48
Reading sheet number 49
Reading sheet number 50
Reading sheet number 51
Reading sheet number 52
Reading sheet number 53
Reading sheet number 54
Reading sheet number 55
Reading sheet number 56
Reading sheet number 57
Reading sheet number 58
Reading sheet number 59
Reading sheet number 60
Reading sheet number 61
Reading sheet number 62
Reading sheet number 63
Reading sheet number 64
Reading sheet number 65
Reading sheet number 66
Reading sheet number 67
Reading sheet number 68
Reading sheet number 69
Reading sheet number 70
Reading sheet number 71
Reading sheet number 72
Reading sheet number 73
Reading sheet number 74
Reading sheet number 75
Reading sheet number 76
Reading sheet number 77
Reading sheet number 78
Reading sheet number 79
Reading sheet number 80
Reading sheet number 81
Reading sheet number 82
Reading sheet number 83
Reading sheet number 84
Reading sheet number 85
Reading sheet number 86
Reading sheet number 87
Reading sheet number 88
Reading sheet number 89
Reading sheet number 90
Reading sheet number 91
Reading sheet number 92
Reading sheet number 93
Reading sheet number 94
Reading sheet number 95
Reading sheet number 96
Reading sheet number 97
Reading sheet number 98
Writing the service requests to a single text file

In [8]:
dfset

,Service Request ID,Flex Notes ID,Display Order,Flex Question,Flex Question Answer
0,190226346,190226352,1.0,Location Details,SE corner of NE 75th Street and Banner way NE
1,190226346,190226353,18.0,Comments:,Sign down on sidewalk. SE corner of 75th St NE...
2,190226416,190226422,1.0,Location Details,All over hill
3,190226416,190226424,18.0,Comments:,Potholes
4,190226519,190226527,51.0,What is your Parking concern?,Request for Service
...,...,...,...,...,...
35789,259490354,259490366,51.1,What's the parking violation concerning?,Pavement Marking
35790,259490354,259490368,56.0,License,Bgc2197
35791,259490354,259490365,56.1,State,WA
35792,259490354,259490364,56.2,Vehicle Make,Chevrolet
35793,259490354,259490369,56.3,Vehicle Color,White

### Read in the attachment records

In [9]:
# Note:  These texts were created by an Excel VBA, which uses UTF-16 for unicode
dfset = pd.read_csv('Attachments_99.txt', sep='\t', header=0, encoding='utf-16')

for sheetno in range(100,113):
    print('Reading sheet number', sheetno)
    df = pd.read_csv('Attachments_{}.txt'.format(sheetno), sep='\t', header=0, encoding='utf-16')
    dfset = pd.concat([dfset, df])
    
# Clean up the details column by getting rid of newline characters
dfset = dfset.replace('\n', ' ', regex=True)

# Write the sheet to a tab-separated .txt file
print('Writing the service requests to a single text file')
dfset.to_csv('allserviceattachments.txt', sep='\t', index=False, encoding='utf-8')

Reading sheet number 100
Reading sheet number 101
Reading sheet number 102
Reading sheet number 103
Reading sheet number 104
Reading sheet number 105
Reading sheet number 106
Reading sheet number 107
Reading sheet number 108
Reading sheet number 109
Reading sheet number 110
Reading sheet number 111
Reading sheet number 112
Writing the service requests to a single text file

In [10]:
dfset

,Service Request ID,Activity ID,Attachment ID,Attachment Path
0,190226346,NaN,190226355.0,http://spot-moto-res.cloudinary.com/image/uplo...
1,190226416,NaN,NaN,NaN
2,190226519,NaN,NaN,NaN
3,190226648,NaN,NaN,NaN
4,190226700,NaN,NaN,NaN
...,...,...,...,...
42003,259490176,NaN,NaN,NaN
42004,259490216,NaN,NaN,NaN
42005,259490254,NaN,259490270.0,http://spot-moto-res.cloudinary.com/image/uplo...
42006,259490304,NaN,259490324.0,http://spot-moto-res.cloudinary.com/image/uplo...
42007,259490354,NaN,259490374.0,http://spot-moto-res.cloudinary.com/image/uplo...